.myNav{
  font-size: 30px !important;
  padding: 20px 20px;
  text-decoration: none !important;
  color: white !important;
}
.logoImg{
  width: 120px;
}
.my-bg{
  background-color: #ff8000;
}
.main-container{
  display: flex;
  flex-direction: row;
  gap: 2px;
  width: 100%;
  height: 100vh;
  padding: 16px;
  flex: 1;
}
.content{
  width: calc(100% - 308px);
  border: 2px solid white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 .content, .basketWrapper {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.header-content{
  height: 300px;
  background-image: url("./assets/img/main.jpg") !important;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;  
}
.header-iner{
  margin-bottom: 40px;
}
.card-hover:hover{
  background-color: rgba(254, 229, 203, 0.5);
  transform: scale(0.99);
}
.restaurantInfo{
  padding-left: 16px;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  color: black;
  margin-top: 100px;
}
.restaurantInfo span{
  color: #ff8000;
}
.main-dishIcon{
  background-color: white;
  padding: 0 0 5px 0px;
}
.main-dishIconImg{
  width: 35px;
}
.recipes{
  padding: 16px;
}
.pizza-price{
  color: #dba680;
}
.recipe-img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.choose-recipe{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#addBtn{
   width: 25px;
   border: none;
   cursor: pointer;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
   transition: box-shadow 0.3s ease-in;
}
#addBtn:hover{
  background-color: rgba(210, 228, 231, 0.3);
   transform: scale(0.99);
}
#backToContentButton {
  display: none;
  width: 100%;
  position: sticky;
  bottom: 0;
  cursor: pointer;
}
#smallBasketButton{
  display: none;
  width: 100%;
  position: sticky;
  bottom: 0;
  cursor: pointer;
}
.footer-style{
  height: 90px;
  background-color: #0a3847;
  color: #fff !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  width: 100%; 
}
.show-message{
   width: calc(100% - 330px);
   margin-left: 10px;
  border: 6px solid #8cff1e;
  background-color: #0a3847;
  height: 70px;
  display: none;
  color: #fff;
  text-align: center;
  padding: 16px 0 0 0;
  border-radius: 5px;
  position: fixed;
  top: 17%;
  z-index: 1000;
}
