.basketWrapper{
  width: 300px;
  padding: 16px;
  border: 2px solid white;
  text-align: center;
  border-left: 1px solid #d3d3d352;
  display: block;
  flex-grow: 1;
  position: relative;
}
.basket{
  width: 100%;
  height:auto;
  background-color: #fff;
  position: sticky;
  top: 0;
}
.hidden {
  display: none !important;
}
.subItems{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding: 10px 10px 20px;
}
.plusMinus{
  width: 20px;
  cursor: pointer;
}
.sumDetails{
  padding: 20px 20px 0px 20px;
  border-top: 1px solid #d3d3d36e;
}
.removeBtn{
  width: 22px;
  cursor: pointer;
}
.empty-cart{
  width: 150px;
  height: 150px;
  padding: 30px;
}
@media screen and (min-width: 601px) {
  .basketWrapper {
    display: block !important; 
  }
}
@media screen and (max-width: 600px) {
  .basketWrapper {
   display: none;
    width: 100%;
    padding: 0px;
  }
  .main-container{
    padding: 5px;
  }
  .content{
    width: 100%;
  }
  .recipes{
    padding: 0px;
  }
 #smallBasketButton{
  display: block;
 }
 #backToContentButton{
  display: block;
  position: sticky;
  bottom: 0;
 }
 .place-order-btn{
  display: none;
  width: 100%;
  margin-bottom: 10px;
 }
 .show-message{
  margin: 15px !important;
  width: 95%;
  position: fixed;
  top: 32%;
  bottom: 50%;
  left: 0;
 }
}