*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  /* color: white !important; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}
a{
  text-decoration: none !important;
  color: white !important;
  font-size: 20px;
}
li{
  list-style: none;
}
.menu{
  display: flex;
  gap: 15px;
  padding: 10px 10px 0 0;
}
.menu li a:hover{
  color: rgb(55, 38, 38);
}
